<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uiuc.bioassay.tlc" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TLCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-uoh3ovoulceo2kz" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpIntroActivity"
            android:label="@string/title_activity_exp_intro" >
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".proc.TLCProcActivity"
            android:label="@string/title_activity_tlcproc" >
        </activity>

        <service
            android:name=".services.NetworkService"
            android:exported="false" >
        </service>

        <activity
            android:name=".PillsActivity"
            android:label="@string/title_activity_pills" >
        </activity>
        <activity
            android:name=".TLCSetupActivity"
            android:label="@string/title_activity_tlcsetup" >
        </activity>
        <activity
            android:name=".TLCResultActivity"
            android:label="@string/title_activity_tlcresult" >
        </activity>
    </application>

</manifest>
